<form method="POST" action="/coupon/rate">
    <textarea name="comment"></textarea><br>
    <radio name="like" value="like">Like</radio>
    <radio name="like" value="like">Dislike</radio><br>
    <input type="submit" value="Submit">
</form>
